@CHARSET "UTF-8";

<style>
#wrap {
	width: 100%;
	margin: 0 auto 0 auto;
	font-family: "Trebuchet MS", Dotum;
	
}

#topMenu {
	height: 50px;
	width: 100%;
	background-color: #2d2d2d;
}


#topMenu ul { 
	list-style-type: none; 
	margin: 0px; 
	padding-left:15%;
}

#topMenu ul li { 
	color: white; 
	background-color: #2d2d2d; 
	float: left; 
	line-height: 50px;
	vertical-align: middle; 
	text-align: center; 
	position: relative;
}

#topMenu .a {
	text-decoration: none;
	color: white;
	display: block;
	float: right;
	width: 150px;
	font-size: 12px;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum, Arial;
}

#topMenu .a:hover {
	color: red;
	background-color: #4d4d4d;
}

.menuLink, .submenuLink {
	text-decoration: none; 
	display: block; 
	width: 150px;
	font-size: 12px;
	font-weight: bold; 
	font-family: "Trebuchet MS", Dotum;
}

.menuLink { 
	color: white;
}

.topMenuLi:hover .menuLink { 
	color: red;
	background-color: #4d4d4d; 
}

.submenuLink { 
	color: #2d2d2d;
	background-color: white;
	border: solid 1px black; 
	margin-top: -1px; 
}

.longLink { 
	width: 190px;
}

.submenu { 
	position: absolute;
	margin-left : -5px;
	height: 0px;
	overflow: hidden;
	transition: height .2s; 
	-webkit-transition: height .2s;
	-moz-transition: height .2s;
	-o-transition: height .2s;
}

.topMenuLi:hover .submenu { 
	height: 220px; 
}

.submenuLink:hover { 
	color: red; 
	background-color: #dddddd;
}

.th {
  display: table-cell;
  background: #333;
  border: 1px solid #333;
  color: #ffffff;
}

.table {
	 align : center; 
	 border-collapse:collapse; 
	 border:1px gray solid;
}

.btn.mini {
  padding: 4px 12px;  
  font-size: 12px;
}

.btn {
    position: relative;
    border: 0;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #2d2d2d;
}

.btn:active {
	box-shadow: 0 0 #804040; 
	background-color: #ff0000;
}







</style>
